#about {
 margin: 7rem 4rem 3rem 4rem;
 width: 60%;
}

#abtTitle,
.expTitle {
 font-weight: lighter;
 font-size: x-large;
 text-decoration: underline;
 margin: 4rem 0 1.5rem 0;
}

#abtText {
 font-weight: lighter;
 font-size: large;
 text-align: justify;
}

/* OUTRO */

#outro {
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 2rem 4rem;
 background-color: #583ebc;

}

.leftOutro ul {
 display: flex;
 align-items: center;
 gap: 1rem;
 list-style: none;
 background-color: #583ebc;
}

.leftOutro ul li {
 background-color: #583ebc;
}

.leftOutro ul a {
 text-decoration: none;
 background-color: #583ebc;
 color: whitesmoke;
 font-weight: lighter;
 font-size: small;
}

.leftOutro ul a:hover {
 text-decoration: underline;
}

.leftOutro ul i {
 background-color: #583ebc;
 color: whitesmoke;
}

.leftOutro ul a img {
 background-color: #583ebc;
 color: whitesmoke;
}

.rightOutro {
 display: flex;
 align-items: center;
 gap: 1rem;
 background-color: #583ebc;
}

.rightOutroText {
 font-weight: lighter;
 font-size: small;
 background-color: #583ebc;
 color: whitesmoke;
}


/* RESPONSIVENESS */

@media only screen and (max-width: 750px) {

 #about {
  margin: 7rem 2rem 3rem 2rem;
  width: 85%;
 }

 #abtTitle,
 .expTitle {
  font-size: larger;
 }

 #abtText {
  font-size: small;
 }

 /* OUTRO */

 #outro {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
 }

 .leftOutro {
  width: 100%;
 }

 .leftOutro ul {
  gap: 0.5rem;
  justify-content: center;
  flex-wrap: wrap;
 }

 .leftOutro li {
  font-size: smaller;
 }

 .rightOutroText {
  font-size: smaller;
 }
}