#titleAndPeriod {
 display: flex;
 justify-content: space-between;
 align-items: center;
 margin-bottom: 10px;
}

#title {
 font-weight: lighter;
 font-size: large;
}

#period {
 background-color: rgb(166, 241, 216);
 color: green;
 padding: 5px;
 border-radius: 10px;
 text-align: center;
 font-weight: lighter;
}

#bottomItem {
 display: flex;
 justify-content: space-between;
 font-weight: lighter;
 font-size: small;
}

#leftBottom {
 display: flex;
 flex-direction: column;
 width: 55%;
}

#leftBottom2 {
 margin-top: 5px;
}

#leftBottom3 {
 text-align: right;
 font-weight: lighter;
}

hr {
 border: 1px solid black;
 margin: 20px 0;
}

/* RESPONSIVENESS */
@media only screen and (max-width: 750px) {

 #title {
  font-weight: lighter;
  font-size: medium;
 }

 #leftBottom p {
  font-size: small;
 }
}