/* HERO SECTION */

#heroSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4rem;
  padding-right: 3rem;
  padding-top: 10rem;
  height: 95vh;
  background-color: whitesmoke;
  gap: 1rem;
}

#heroLeft {
  width: 98%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 1px solid red; */
}

.welcomeText {
  font-size: 3rem;
  margin-bottom: 3rem;
  letter-spacing: 0.2em;
}

.nameUnderline {
  position: relative;
  display: inline-block;
  color: inherit;
}

.nameUnderline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  width: 100%;
  background: linear-gradient(90deg, #a855f7, #747376, #ee5420, #18032c);
  background-size: 300% 100%;
  animation: underlineMove 3s linear infinite;
  border-radius: 2px;
}

@keyframes underlineMove {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

#heroText {
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  text-align: center;
  margin-bottom: 3rem;
  color: rgb(105, 105, 105);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

span {
  color: #583ebc;
}

#heroRight {
  width: 2%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  /* border: 1px solid red; */
}

#heroLinks {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 1rem;
  padding: 1rem;
  background-color: rgb(253, 253, 253);
}

.linkIcon {
  width: 1.5rem;
}

#heroBtns {
  display: none;
}

#heroBtnsWeb {
  display: flex;
  gap: 2rem;
}

#downloadBtn,
#ConnectBtn {
  background-color: #120e22;
  color: whitesmoke;
  font-weight: lighter;
  font-size: medium;
  padding: 0.8rem;
  border-radius: 0.5rem;
  transition: all 0.3s ease;
}

#downloadBtn:hover,
#ConnectBtn:hover {
  background-color: black;
  color: whitesmoke;
  box-shadow: 0 0 0.1rem rgba(2, 16, 95, 0.9);
  transform: scale(1.05);
}

/* SERVICES SESSION */
#services {
  margin-top: 3rem;
  background-color: black;
  padding: 4rem;
  height: min-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 1px solid red; */
}

.serviceHeading {
  padding: 1rem 0 4rem;
  background-color: black;
  width: 100%;
  /* background-color: #583ebc; */
}

.serviceTitle {
  font-size: 3rem;
  font-weight: normal;
  text-align: left;
  color: whitesmoke;
  background-color: black;
  position: relative;
  display: inline-block;
  transition: all 0.5s ease;
  /* margin-bottom: 2rem; */
  /* color: whitesmoke; */
  /* background-color: #583ebc; */
}

.serviceTitle::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0%;
  background: linear-gradient(90deg, #a855f7, #747376, #ee5420, #18032c);
  transition: width 2s ease;
}

.serviceData {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
  background-color: black;
  color: whitesmoke;
}

.serviceDataLeft {
  width: 50%;
  background-color: black;
  /* background-color: rgb(241, 240, 240); */
}

.serviceDataRight {
  width: 50%;
  background-color: black;
  /* background-color: rgb(241, 240, 240); */
}

.serviceDataHeading {
  background-color: black;
  /* margin-bottom: 2rem; */
  /* background-color: rgb(241, 240, 240); */
}

.serviceDataHeadingText {
  /* background-color: rgb(241, 240, 240); */
  background-color: black;
  color: whitesmoke;
  margin-bottom: 1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: x-large;
}

.serviceAbout {
  /* background-color: rgb(241, 240, 240); */
  background-color: black;
}

.serviceAboutText {
  /* background-color: rgb(241, 240, 240); */
  background-color: black;
  color: whitesmoke;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 1rem;
}

.mySkills {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  /* background-color: rgb(241, 240, 240); */
  background-color: black;
}

.skill {
  background-color: rgb(227, 226, 226);
  color: black;
  width: max-content;
  padding: 1rem;
  border-radius: 0.5rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

/* .serviceDesc {
  font-size: 1.1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 100;
  text-align: center;
  color: whitesmoke;
  background-color: #583ebc;
}

#myServices {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  background-color: #583ebc;
}

.servIcon {
  width: 100%;
  height: 12rem;
}

#serviceBox {
  width: 40%;
  background: whitesmoke;
  padding: 2rem;
  border-radius: 1rem;
  transition: background 0.5s, transform 0.5s;
} */

/* #serviceBox:hover {
  background: #181720;
  transform: translateY(-10px);
  } */

/* TOOLS SECTION */
/* #tools {
  margin: 3rem 4rem;
  box-shadow: 2px 5px 10px rgba(2, 16, 95, 0.9);
  border-radius: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.toolsHeading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1.25rem 1.25rem 2rem 1.25rem;
  padding: 3.2rem;
}

.toolsTitle {
  font-size: 3rem;
  font-weight: normal;
  margin-bottom: 1rem;
  text-align: center;
}

.toolsDescription {
  font-size: 1rem;
  font-weight: lighter;
  text-align: center;
}

.techTools {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 50px;
  justify-items: center;
  align-items: center;
  padding: 0 5rem;
  margin: 1.25rem 1.25rem 4.5rem 1.25rem;
} */

/* PROJECT SECTION */
#projects {
  padding: 3rem 4rem;
  /* margin-top: 3rem; */
  /* background-color: black; */
  /* border: 1px solid red; */
  /* background-image: linear-gradient(#583ebc, whitesmoke); */
}

.projectHeading {
  width: 100%;
  /* padding: 0 4rem; */
  /* background-color: black; */
}

.projectTitle {
  font-size: 3rem;
  font-weight: normal;
  margin-bottom: 1rem;
  text-align: left;
  color: black;
  position: relative;
  display: inline-block;
  transition: all 0.5s ease;
  /* background-color: black; */
}

.projectTitle::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0%;
  background: linear-gradient(90deg, #a855f7, #747376, #ee5420, #18032c);
  transition: width 2s ease;
}

.underline::after {
  width: 100%;
}

.buzineshoursContainer {
  /* background-color: black; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
  padding: 2rem;
  margin-bottom: 3rem;
}

.buzineshoursImgContainer {
  width: 50%;
}

.buzineshoursImg {
  /* height: 30rem; */
  width: 90%;
}

.buzineshoursOverview {
  width: 50%;
}

.buzineshoursOverviewTitle {
  color: black;
  margin-bottom: 1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: x-large;
}

.buzineshoursOverviewText {
  color: black;
  margin-bottom: 1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: medium;
}

#downloadCard {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}

/* .iosDownloadLink {
  height: 3rem;
  width: 10rem;
}

.androidDownloadLink {
  height: 2rem;
  } */

/* #downloadIcon {
    background: #333333;
    border-radius: 100%;
    } */

.iosDownloadIcon {
  height: 5rem;
  width: 8.5rem;
  transition: all 0.3s ease;
}

.androidDownloadIcon {
  height: 4rem;
  width: 8.5rem;
  transition: all 0.3s ease;
}
.iosDownloadIcon:hover,
.androidDownloadIcon:hover {
  transform: scale(1.05);
}

.visitLink {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(93, 92, 92);
  font-size: small;
}

/* .downloadLink img {
  width: 8rem;
  height: 4rem;
} */

.downloadLinkText {
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  color: black;
  /* color: #0233a7; */
}

.downloadLinkText:hover {
  text-decoration: underline;
}

.projectSamples {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  /* background-color: #583ebc; */
  padding: 0 4rem;
}

.viewMore {
  /* background-color: #583ebc; */
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

#viewMoreBtn {
  background-color: #24232d;
  color: whitesmoke;
  border-radius: 5px;
  padding: 5px 10px;
}

#viewMoreBtn:hover {
  background-color: black;
  color: whitesmoke;
  box-shadow: none;
}

/* OUTRO SESSION */
#outro {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 4rem;
  background-color: black;
  /* margin-bottom: 2rem; */
}

.leftOutro ul {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
  background-color: black;
}

.leftOutro ul li {
  background-color: black;
}

a {
  text-decoration: none;
}

.leftOutro ul a {
  text-decoration: none;
  background-color: black;
  color: whitesmoke;
  font-weight: lighter;
  font-size: small;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a:hover {
  text-decoration: underline;
}

.leftOutro ul i {
  background-color: black;
  color: whitesmoke;
}

.rightOutro {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: black;
}

.rightOutroText {
  font-weight: lighter;
  font-size: small;
  background-color: black;
  color: whitesmoke;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* RESPONSIVENESS */
@media only screen and (max-width: 1085px) {
  #heroSection {
    display: flex;
    align-items: center;
    /* flex-direction: column; */
    /* align-items: self-start; */
    margin: 4rem 2rem;
    /* height: auto; */
  }

  #heroLeft {
    width: 49%;
  }

  .welcomeText {
    font-size: 2.5rem;
    margin-top: 0.5rem;
  }

  /* SERVICES */

  .serviceTitle {
    font-size: 2rem;
  }

  .serviceDesc {
    font-size: 1rem;
  }

  #serviceBox {
    width: 50%;
  }

  /* PROJECTS */

  .projectSamples {
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    padding: 0 4rem;
  }

  .projectTitle {
    font-size: 2rem;
  }

  .projectDescription {
    font-size: small;
  }

  /* TOOLS */
  .toolsTitle {
    font-size: 2rem;
  }

  .description {
    font-size: small;
  }

  .techTools {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  /* OUTRO */

  /* #outro {
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
  }

  .leftOutro {
    width: 100%;
  } */

  .leftOutro ul {
    gap: 0.5rem;
    /* justify-content: center;
   flex-wrap: wrap; */
  }

  .leftOutro li {
    font-size: smaller;
  }

  .rightOutroText {
    font-size: smaller;
  }
}

@media only screen and (max-width: 768px) {
  #heroSection {
    display: flex;
    flex-direction: column;
    align-items: self-start;
    margin: 2rem;
    padding: 0;
    padding-top: 4rem;
    height: auto;
  }

  #heroLeft {
    width: 90%;
    /* margin-bottom: 0.5rem; */
  }

  .welcomeText {
    font-size: 1.8rem;
    margin-top: 0.5rem;
    width: 100%;
  }

  #heroText {
    font-size: 1.1rem;
    text-align: left;
  }

  #heroRight {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: auto;
  }

  #heroBtnsWeb {
    display: none;
  }

  #heroBtns {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    width: 100%;
  }

  #downloadBtn,
  #ConnectBtn {
    font-size: small;
  }

  /* SERVICES */
  #services {
    padding: 3rem 2rem;
  }

  .serviceHeading {
    margin: 0 2rem;
  }

  .serviceTitle {
    font-size: 2rem;
  }

  .serviceData {
    flex-direction: column;
    gap: 2rem;
    /* border: 1px solid red; */
  }

  .serviceDataLeft,
  .serviceDataRight {
    width: 100%;
  }

  .mySkills {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  /* .serviceDesc {
    font-size: 1rem;
  }

  #myServices {
    display: flex;
    flex-direction: column;
  }

  #serviceBox {
    width: 100%;
  }

  .serviceBoxText {
    font-size: small;
    text-align: justify;
  } */

  /* TOOLS */

  /* #tools {
    margin: 3rem 2rem;
  }

  .toolsHeading {
    padding: 1.6rem;
    margin-bottom: 1rem;
  }

  .toolsTitle {
    font-size: 2rem;
  }

  .toolsDescription {
    font-size: small;
  }

  .techTools {
    display: flex;
    flex-wrap: wrap;
    padding: 0 5%;
    justify-content: center;
  } */

  /* PROJECTS */

  #projects {
    padding: 3rem 0;
  }

  .projectHeading {
    padding: 0 2rem;
  }

  .projectTitle {
    font-size: 2rem;
  }

  .buzineshoursContainer {
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1.5rem;
  }

  .buzineshoursImgContainer {
    width: 100%;
  }

  .buzineshoursImg {
    /* height: 30rem; */
    width: 90%;
  }

  .buzineshoursOverview {
    width: 100%;
  }

  /* .projectDescription {
    font-size: small;
  }

  .projectSamples {
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
  } */

  /* OUTRO */

  #outro {
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
  }

  .leftOutro {
    width: 100%;
  }

  .leftOutro ul {
    gap: 0.5rem;
    justify-content: center;
    flex-wrap: wrap;
  }

  .leftOutro li {
    font-size: smaller;
  }

  /* .linkIconHide {
  display: none;
 } */

  .rightOutroText {
    font-size: smaller;
  }
}

@media only screen and (max-width: 600px) {
  .mySkills {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
