/* HERO SECTION */

#heroSection {
 display: flex;
 align-items: center;
 justify-content: space-between;
 margin: 3rem 4rem;
 height: 90vh;
}

#heroLeft {
 width: 51%;
}

.welcomeText {
 font-size: 4rem;
 margin-bottom: 0.5rem;
}

span {
 color: #583ebc;
}

#textBottom {
 margin-bottom: 1.8rem;
 font-weight: normal;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#heroRight {
 width: 49%;
 display: flex;
 align-items: center;
 justify-content: flex-end;
}

#myPic {
 background-color: #583ebc;
 border-radius: 50%;
 box-shadow: 0 0 10px rgb(88, 62, 188);
 width: 70%;
 margin-right: 0.5rem;
}

#heroLinks {
 display: flex;
 flex-direction: column;
 align-items: center;
 width: 5%;
}

#followMe {
 rotate: 90deg;
 text-wrap: nowrap;
 font-weight: lighter;
}

#line {
 width: 0.1rem;
 height: 3rem;
 background-color: #181720;
 margin: 4rem 0 3rem 0;
}

.linkIcon {
 width: 1.5rem;
}


/* SERVICES SESSION */
#services {
 margin: 3rem 0;
 background-color: #583ebc;
 padding: 3rem 4rem;
}

.serviceHeading {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 margin: 0 4rem 1rem 4rem;
 background-color: #583ebc;
}

.serviceTitle {
 font-size: 3rem;
 font-weight: normal;
 margin-bottom: 1rem;
 text-align: center;
 color: whitesmoke;
 background-color: #583ebc;
}

.serviceDesc {
 font-size: 1.5rem;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 font-weight: 100;
 text-align: center;
 color: whitesmoke;
 background-color: #583ebc;
}

#myServices {
 display: flex;
 justify-content: space-between;
 gap: 40px;
 background-color: #583ebc;
}

.servIcon {
 width: 100%;
 height: 15rem;
}

#serviceBox {
 width: 40%;
 background: whitesmoke;
 padding: 2rem;
 border-radius: 1rem;
 /* transition: background 0.5s, transform 0.5s; */
}

/* #serviceBox:hover {
 background: #181720;
 transform: translateY(-10px);
} */


/* TOOLS SECTION */
#tools {
 margin: 3rem 4rem;
 box-shadow: 2px 5px 10px rgba(2, 16, 95, 0.9);
 border-radius: 1.25rem;
 display: flex;
 flex-direction: column;
 justify-content: center;
}

.toolsHeading {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 margin: 1.25rem 1.25rem 2rem 1.25rem;
 padding: 3.2rem;
}

.title {
 font-size: 3rem;
 font-weight: normal;
 margin-bottom: 1rem;
 text-align: center;
}

.description {
 font-size: 1rem;
 font-weight: lighter;
 text-align: center;
}

.techTools {
 display: grid;
 grid-template-columns: repeat(5, 1fr);
 gap: 20px;
 justify-items: center;
 align-items: center;
 padding: 0 15%;
 margin: 1.25rem 1.25rem 4.5rem 1.25rem;
}


/* PROJECT SECTION */
#projects {
 margin-top: 3rem;
 background-color: #583ebc;
 /* background-image: linear-gradient(#583ebc, whitesmoke); */
 padding: 3rem 0;
}

.projectSamples {
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 1rem;
 background-color: #583ebc;
 /* color: whitesmoke; */
}

.projectHeading {
 background-color: #583ebc;
}

.projectTitle {
 font-size: 3rem;
 font-weight: normal;
 margin-bottom: 1rem;
 text-align: center;
 background-color: #583ebc;
 color: whitesmoke;
}

.projectDescription {
 font-size: 1rem;
 font-weight: lighter;
 text-align: center;
 background-color: #583ebc;
 color: whitesmoke;
 margin-bottom: 2rem;
}


/* OUTRO SESSION */
#outro {
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 2rem 4rem;
 /* margin-bottom: 2rem; */
}

.leftOutro ul {
 display: flex;
 align-items: center;
 gap: 1rem;
 list-style: none;
}

a {
 text-decoration: none;
}

a:hover {
 text-decoration: underline;
}

.rightOutro {
 display: flex;
 align-items: center;
 gap: 1rem;
}

.rightOutroText {
 font-weight: normal;
}