#projects {
 margin: 6rem 4rem 3rem 4rem;
}

.projectSamples {
 display: flex;
 /* grid-template-columns: repeat(3, 1fr); */
 flex-wrap: wrap;
 justify-content: center;
 align-items: center;
 gap: 3rem;
}

.projectTitle {
 text-align: center;
 margin-bottom: 20px;
 font-size: x-large;
 font-weight: lighter;
}

.projectInfoTop {
 text-align: center;
 font-weight: lighter;
 margin: 0 -4rem 1.25rem -4rem;
 background-image: linear-gradient(#583ebc, whitesmoke);
 padding: 1rem 0;
}

.projectInfo {
 text-align: center;
 font-weight: lighter;
 margin-bottom: 20px;
}

/* OUTRO */

#outro {
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 2rem 4rem;
 background-color: #583ebc;
}

.leftOutro ul {
 display: flex;
 align-items: center;
 gap: 1rem;
 list-style: none;
 background-color: #583ebc;
}

.leftOutro ul li {
 background-color: #583ebc;
}

.leftOutro ul a {
 text-decoration: none;
 background-color: #583ebc;
 color: whitesmoke;
 font-weight: lighter;
 font-size: small;
}

.leftOutro ul a:hover {
 text-decoration: underline;
}

.leftOutro ul i {
 background-color: #583ebc;
 color: whitesmoke;
}

.leftOutro ul a img {
 background-color: #583ebc;
 color: whitesmoke;
}

.rightOutro {
 display: flex;
 align-items: center;
 gap: 1rem;
 background-color: #583ebc;
}

.rightOutroText {
 font-weight: lighter;
 font-size: small;
 background-color: #583ebc;
 color: whitesmoke;
}

/* CLONED WORKS */

.clonedWorks {
 background-color: #583ebc;
 padding: 4rem 2rem;
 display: flex;
 flex-direction: column;
 /* justify-content: space-between; */
 gap: 10px;
}

.clonedWorksMain {
 display: flex;
 justify-content: space-between;
 gap: 10px;
}

.clonedWorks1 {
 width: 70%;
 display: flex;
 align-items: center;
}

.clonedWorks2 {
 width: 30%;
}

.clonedWorks1Left {
 width: 50%;
 height: 100%;
}

#img1 {
 width: 100%;
 height: 100%;
}

#img2 {
 width: 100%;
 height: 50%;
}

#img2Text {
 text-wrap: wrap;
 height: 10%;
 font-weight: lighter;
 font-size: smaller;
 background-color: #583ebc;
 padding: 10px;
 color: whitesmoke;
 border: 1px solid whitesmoke;
}

#img4 {
 height: 39%;
 width: 100%;
 border: 1px solid whitesmoke;
}

.clonedWorks1Right {
 width: 50%;
 height: 100%;
}

#img3 {
 width: 100%;
 height: 100%;
}

.clonedWorks3 {
 padding: 2rem;
}

#img5 {
 width: 100%;
 /* margin-bottom: 40px; */
}

.clonedWorks4,
.clonedWorks5 {
 padding: 2rem;
}

#disneyText {
 text-align: center;
 margin-bottom: 10px;
 font-weight: lighter;
 font-size: medium;
}

#video1,
#video2 {
 width: 100%;
 height: 80vh;
 /* margin-top: 40px; */
}


/* RESPONSIVENESS */

@media only screen and (max-width: 750px) {

 #projects {
  margin: 6rem 2rem 3rem 2rem;
 }

 .projectSamples {
  display: flex;
  flex-direction: column;
 }

 .clonedWorksMain {
  display: flex;
  flex-direction: column;
 }

 .clonedWorks1 {
  width: 100%;
 }

 #img2Text {
  font-weight: normal;
  font-size: x-small;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }

 .clonedWorks2 {
  width: 100%;
  padding: 0.3rem;
 }

 #img3 {
  width: 100%;
  height: 400px;
 }

 #video1,
 #video2 {
  height: auto;
 }

 /* OUTRO */

 #outro {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
 }

 .leftOutro {
  width: 100%;
 }

 .leftOutro ul {
  gap: 0.5rem;
  justify-content: center;
  flex-wrap: wrap;
 }

 .leftOutro li {
  font-size: smaller;
 }

 .rightOutroText {
  font-size: smaller;
 }
}