.navBar {
 background-color: #583ebc;
 padding: 0.5rem 2rem;
 margin-bottom: 2rem;
 display: flex;
 align-items: center;
 justify-content: space-between;
 /* border-radius: 2rem; */
 position: fixed;
 top: 0;
 width: 100%;
 border: 1px solid whitesmoke;
}

.mobile {
 display: none;
}

#navImg {
 background-color: #583ebc;
 border-radius: 2rem;
}

#navBtn {
 background-color: #583ebc;
 border-radius: 2rem;
 display: flex;
 gap: 2rem;
}

button {
 background-color: #583ebc;
 color: whitesmoke;
 font-size: large;
 padding: 0.8rem;
 border-radius: 2rem;
 cursor: pointer;
 border: none;
}

button:hover {
 background-color: whitesmoke;
 color: #181720;
 box-shadow: 0 0 1rem rgba(2, 16, 95, 0.9);
}

#myLogo {
 width: 2rem;
 height: 2rem;
 border-radius: 50%;
}


/* RESPONSIVENESS */

@media only screen and (max-width: 750px) {

 .fullScreen {
  display: none;
 }

 #navBtn {
  gap: 1rem;
 }

 .mobile {
  background-color: #583ebc;
  border: 1px solid #583ebc;
  border-radius: 2rem;
  display: flex;
  align-items: center;
 }


 .mobile:hover {
  background-color: #583ebc;
  color: whitesmoke;
  border: 1px solid whitesmoke;
 }

 #navBtn button i {
  background-color: #583ebc;
  color: whitesmoke;
 }
}

/* #navBtn button i:hover {
 background-color: #583ebc;
 color: #583ebc;
 box-shadow: 0 0 1rem rgba(2, 16, 95, 0.9);
} */