.navBar {
 background-color: #583ebc;
 padding: 0.5rem 2rem;
 margin: 2rem;
 display: flex;
 align-items: center;
 justify-content: space-between;
 border-radius: 2rem;
}

#navImg {
 background-color: #583ebc;
 border-radius: 2rem;
}

#navBtn {
 background-color: #583ebc;
 border-radius: 2rem;
 display: flex;
 gap: 2rem;
}

button {
 background-color: #583ebc;
 color: whitesmoke;
 font-size: large;
 padding: 0.8rem;
 border-radius: 2rem;
 cursor: pointer;
 border: none;
}

button:hover {
 background-color: whitesmoke;
 color: #181720;
 box-shadow: 0 0 1rem rgba(2, 16, 95, 0.9);
}

#myLogo {
 width: 2rem;
 height: 2rem;
 border-radius: 50%;
}